{% load static %}
{% include 'header.html' %}


{% block css %}
    {% comment %} <link rel="stylesheet" href="{%static 'css/index.css'%}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/signin.css'%}">{% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/signinsignup.css'%}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/petgallery.css'%}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/viewpetdetails.css'%}"> {% endcomment %}
{% endblock css %}




{% block main %}
    <h1>Base File</h1>
{% endblock main %}
    

{% include 'footer.html' %}