<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MyBuddy{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    {% block header %}
        {% include 'header.html' %}
    {% endblock header %}


    {% block main %}
        <!-- Main content goes here -->
    {% endblock main %}

    
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock footer %}

</body>
</html>
