{%load static%}
{% include 'header.html' %}


{% block maincss %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link rel="stylesheet" href="{% static 'css/petgallery.css'%}">
    <link rel="stylesheet" href="{% static 'css/signin.css'%}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/petdetails.css'%}">
    <link rel="stylesheet" href="{% static 'css/request.css'%}">
    <link rel="stylesheet" href="{% static 'css/response.css'%}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/donate.css'%}"> {% endcomment %}
{% endblock maincss %}





{% block main %}
    <h1>This Is Main Section Of Block</h1>
{% endblock main %}

{% include 'footer.html' %}
