{% load static %}
<footer>
    <div class="footer-container">
        <div class="footer-section address">
            <h4>Address</h4>
            <p>123 Pet Adoption St.<br>My Buddy House<br>Kopargaon, Maharashtra, 423 601</p>
        </div>
        <div class="footer-section policy">
            <h4>Policy</h4>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Refund Policy</a></li>
                <li><a href="#">Cancellation Policy</a></li>
                <li><a href="#">Terms and Conditions</a></li>
            </ul>
        </div>
        <div class="footer-section services">
            <h4>Services</h4>
            <ul>
                <li><a href="#">Dog Training</a></li>
                <li><a href="#">Dog Walking</a></li>
                <li><a href="#">Pet Insurance</a></li>
                <li><a href="#">Pet Grooming</a></li>
            </ul>
        </div>
        
        <div class="footer-section contact">
          <h4>Contact</h4>
          <ul>
              <li>
                  <a href="mailto:info@mybuddy.com" class="contact-link">
                      <i class="fas fa-envelope"></i> info@mybuddy.com
                  </a>
              </li>
              <li>
                  <a href="tel:+1234567890" class="contact-link">
                      <i class="fas fa-phone"></i> (+91) 9527230560
                  </a>
              </li>
              <li>
                  <a href="#" class="social-link">
                      <i class="fab fa-twitter"></i> mybuddy
                  </a>
              </li>
              <li>
                  <a href="#" class="social-link">
                      <i class="fab fa-facebook"></i> mybuddyhouse
                  </a>
              </li>
          </ul>
      </div>
      
      
      
    </div>
  </footer>
  <div class="footer-bottom">
    <p>© 2024 My Buddy. All rights reserved. Created by Ashitosh Rohom, Founder. Contact: ashitosh.rohom@gmail.com</p>
  </div>
  
  
  
    </body>
    
  </html>