<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Buddy</title>
  {% comment %} <link rel="stylesheet" href="{%static 'css/style.css'%}"> {% endcomment %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  
</head>
<body>

  <!-- SECTION 1 -->
  <nav class="navbar">
    <div class="logo">
      <a href="#">
        <i class="fas fa-dog"></i>MyBuddy 
      </a>
    </div>

    <div class="website-name">
      <h1>My Buddy</h1>
    </div>

    <div class="nav-buttons">
      <a href="/" class="nav-btn">Home</a>
      <a href="/donate" class="nav-btn">Donate</a>

      {% if request.user.is_authenticated %}
      <a href="/petgallery" class="nav-btn">Pets</a>
      {% else %}
      <a href="/signin" class="nav-btn">Pets</a>
      {% endif %}

      <a href="/about" class="nav-btn">About</a>
      <a href="/contact" class="nav-btn">Contact</a>

      {% if request.user.is_authenticated %}

      <a href="/logout" class="nav-btn">Logout</a>
      
      {% else %}
      
      <a href="/signin" class="nav-btn">Login</a>
      <a href="/signup" class="nav-btn">Signup</a>
    
      {% endif %}




      <div class="account-container">
        <div class="account-dropdown">
            <button class="account-btn">
                <img src="{% static 'image/profile.png' %}" alt="Account" class="account-icon">
            </button>
            <div class="dropdown-menu">
                <a href="" class="dropdown-item">Login</a>
                <a href="" class="dropdown-item">Register</a>
                <a href="" class="dropdown-item">Logout</a>
            </div>
        </div>
    </div>
     




    </div>
  </nav>
</body>
</html>
