{% extends 'base.html' %}

<!DOCTYPE html>

{% load static %}
{% block main %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Details - My Buddy</title>
    <link rel="stylesheet" href="{%static 'css/petdetails.css'%}">
</head>
<body class="body1">
    <div class="top-bar">
        <h1>My Buddy Pet Adoption</h1>
    </div>

    <!-- Pet Details Section -->
    <div class="container">
        {% for i in pet %}
        <!-- Left Column: Pet Image -->
        <div class="left-column">
            <img src="{{i.image.url}}" alt="Pet Image">
        </div>

        <!-- Right Column: Pet Information -->
        <div class="right-column">
            <h2>Meet {{i.pname}}</h2>

            {% if i.category == 1 %}
            <p><span>Breed:</span> Indies </p>
            {% elif i.category == 2 %}
            <p><span>Breed:</span> Pugs </p> 
            {% elif i.category == 3 %} 
            <p><span>Breed:</span> German </p>
            {% elif i.category == 4 %} 
            <p><span>Breed:</span> Bulldog </p>
            {% elif i.category == 5 %} 
            <p><span>Breed:</span> Labrado </p>
            {% elif i.category == 6 %} 
            <p><span>Breed:</span> Combai </p>
            {% endif %}
            
            <p><span>Age:</span> {{i.age}} </p>
            <p><span>Gender:</span> {{i.gender}} </p>
            <p><span>Weight:</span> {{i.weight}} </p>
            <p><span>Vaccination Status:</span> {{i.vaccination}} </p>
            <p><span>Medical Surgery:</span> {{i.surgery}} </p>
            <p><span>Description:</span> {{i.description}} </p>
            <div class="btn-container">
                <a href="/request_form" class="btn">Adopt  {{i.pname}} </a>
            </div>

            

        </div>
        {% endfor %}
    </div>

    <div class="bottom-bar">
        <p>All Rights Reserved &copy; 2024 My Buddy Pet Adoption</p>
    </div>
</body>
</html>
{% endblock main %}