{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container">
    <!-- Header Section -->
    <div class="response-header">
        <!-- Spinner and Loader -->
        <div class="spinnerContainer">
            <div class="spinner"></div>
            <div class="loader">
                <p><h2 class="response-title">Admin Response</h2>
                </p>
                <div class="words">
                    <span class="word">Wait..</span>
                    <span class="word">Requested</span>
                    <span class="word">Accept</span>
                    <span class="word">Reject</span>
                    <span class="word">Processing</span>
                </div>
            </div>
        </div>
        
        {% comment %} <p class="response-subtitle">Pet Adoption Request : {{ adoption_request }}</p> {% endcomment %}
    </div>

    <!-- Response Message Section -->

    {% if adoption_request %}

    {% if adoption_request.status == 'Pending' %}

    <div class="response-box">
        <h4 class="response-status">Adoption Request Status: <span class="status-approved">Pending..</span></h4>
        <p class="response-message">
            Congratulations! Your request to adopt <strong>Max</strong> (Golden Retriever) has been approved.  
            Our team will reach out to you soon for the next steps.
        </p>
    </div>

    {% elif adoption_request.status == 'Approved' %}
    <div class="response-box">
        <h4 class="response-status">Adoption Request Status: <span class="status-approved">Accepted</span></h4>
        <p class="response-message">
            Congratulations! Your request to adopt <strong>{{adoption_request}}</strong> (Golden Retriever) has been approved.  
            Our team will reach out to you soon for the next steps.
        </p>
    </div>

    {% elif adoption_request.status == 'Rejected' %}
    <div class="response-box">
        <h4 class="response-status">Adoption Request Status: <span class="status-approved">Rejected</span></h4>
        <p class="response-message">
            Sorry! Your request to adopt <strong>{{adoption_request}}</strong> (Golden Retriever) has been Reject.  
            Our team will reach out to you soon for the next steps.
        </p>
    </div>

    {% endif %}
    {% else %}
    <div class="response-box">
        <h4 class="response-status">Adoption Request Status: <span class="status-approved">No Adoption Request Found</span></h4>
    </div>
    {% endif %}

    



    <!-- Additional Links Section -->
    <div class="additional-info">
        <h5 class="additional-title">Want to adopt more pets or view your requests?</h5>
        <a href="/petgallery" class="visit-link">Visit Pet Gallery</a>
    </div>
</div>
{% endblock main %}
