{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/signinsignup.css' %}">
{% endblock css %}

{% block main %}

<!-- Login Form -->
<div class="login-container">
    <!-- Logo above the login title -->
    <div class="logo">
        <a href="#">
          <i class="fas fa-dog"></i>MyBuddy
        </a>
      </div>

    <h2>SignUp</h2>
    <form>
      <label for="text">User Name</label>
      <input type="text" id="text" placeholder="Enter UserName" required>

      <label for="email">Email Address</label>
      <input type="email" id="email" placeholder="Enter your email" required>
      
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Enter your password" required>
      
      <label for="password">Confirm Password</label>
      <input type="password" id="cpassword" placeholder="Enter password again" required>
      
      <div class="login-buttons">
        <button type="submit" class="btn-signup">Sign Up</button>
        <button type="submit" class="btn-login" onclick="location.href='#';">Sign In</button>
      </div>
    </form>
</div>

{% endblock main %}
