{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Buddy - Sign In</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/signin.css' %}">




</head>
<body class="mybody">
  {% block main %}
  
  <!-- Login Form -->
  <div class="parent-container">
    <div class="login-container">
    <div class="logo">
      <a href="#">
        <i class="fas fa-dog"></i> MyBuddy
      </a>
    </div>
    <h1>Login</h1>

{% if messages %}
        <div id="popup-message" style="position:fixed; top:10px; right:49rem; background:white; padding:10px; border-radius:10px; font-weight: bold;">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
{%endif%}


    <form method="POST" action="">
      {% csrf_token %}

      {% if error_msg %}
        <div class="alert alert-danger">
          {{error_msg}}
        </div>  
      {% endif %}

      <label for="exampleFormControlInput1" class="form-label">User Name</label>
      <input type="text" id="uname" name="uname" placeholder="Username">
      {% comment %} <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Username" name="uname"> {% endcomment %}
      <br>
      <label for="password">Password</label>
      <input type="password" id="password" name="upass" placeholder="Password">
      
      <div class="login-buttons">
        <button type="submit" class="btn-login">Login</button>
        <button type="button" class="btn-signup" onclick="location.href='/signup'">Sign Up</button>
      </div>
      <p><a href="#">Forgot Password?</a></p>
    </form>
  </div>
</div>
  {% endblock main %}
</body>

<script>
  window.onload = function() {
      setTimeout(function() {
          var errorMsg = document.getElementById('error-msg');
          if (errorMsg) {
              errorMsg.style.display = 'none';
          }
      }, 5000); // Hide the message after 5 seconds
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
      const messageBox = document.getElementById('popup-message');
      if (messageBox) {
          setTimeout(() => {
              messageBox.style.display = 'none';
          }, 3000); // Hides the message after 3 seconds
      }
  });
</script>

</html>
