{% extends 'base.html' %}
{% load static %}

{% block maincss %}
<link rel="stylesheet" href="{% static 'css/user.css'%}">
{% endblock maincss %}

{% block main %}
<div class="container">
    <div class="card p-4">
        <h1 class="text-center mb-4">User Details</h1>
        <div class="user-profile">
            <div class="profile-item">
                <strong>User ID:</strong> <span>1</span>
            </div>
            <div class="profile-item">
                <strong>User Name:</strong> <span>John Doe</span>
            </div>
            <div class="profile-item">
                <strong>Email:</strong> <span>john.doe@example.com</span>
            </div>
            <div class="profile-item">
                <strong>Date of Joined:</strong> <span>2025-01-01</span>
            </div>
            <div class="profile-item">
                <a href=""><button class="logout-btn">Update</button></a>
                <a href=""><button class="logout-btn">Delete</button></a>
                <a href="/logout"><button class="logout-btn">Logout</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
